doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="menu")
      if !user
        a(href="/signup") Sign Up
        a(href="/login") Login
      if user
        form( action="/logout" method="post")              
          button(type="submit") Logout
               
       
    block content
